---
import '../styles/pico.scss';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';
import json from '../content/experience/entries.json';

import { getEntry, getEntries, getCollection } from 'astro:content';
const entry = await getEntry('resume', 'education');
const { Content, headings } = await entry.render();

//const dataEntry = await getEntry('resume', 'entries');
const edu = json.filter((entry) => entry.section == "education" && entry.in_resume);
const jobs = json.filter((entry) => entry.section == "work_experience");
const projects = json.filter((entry) => entry.section == "projects" && entry.in_resume);
---

<Layout title="Zachary Meyer's portfolio">
	<Nav />
	<main>
		<h1> Resume </h1>
		<h2> Education </h2>
			{ edu.map((degree) => 
				<h3> {degree.title} </h3>
				<p> {degree.loc}
				    <span class='right-align'>{degree.start} - {degree.end}</span>
				</p>
			)}
		<h2> Work Experience </h2>
        	{ jobs.map((job) =>
			<h3>{job.title}</h3>
			<p>{job.loc}, {job.institution} 
				<span class='right-align'>{job.start} - {job.end}</span>
			</p>
				<ul>
					{job.description_1 != "" ? <li>{job.description_1}</li> : ""}
					{job.description_2 != "" ? <li>{job.description_2}</li> : ""}
					{job.description_3 != "" ? <li>{job.description_3}</li> : ""}
					{job.description_4 != "" ? <li>{job.description_4}</li> : ""}
					{job.description_5 != "" ? <li>{job.description_5}</li> : ""}
					{job.description_6 != "" ? <li>{job.description_6}</li> : ""}
			</ul>
		)}
		<h2> Selected Projects </h2>
		<ul role="list" class="link-card-grid">
		{ projects.map((project) => 
			<Card
				href={project.link}
				title={project.title}
				type={project.loc}
				institution={project.institution}
				body={project.description_1}
				stack={project.stack}
			/>
			)
		}
		</ul>
	</main>
</Layout>

<style>
	h1 {
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.right-align {
		float: right;
	}
</style>
