---
import '../styles/pico.scss';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';
import json from '../content/experience/entries.json';

import { getEntry, getEntries, getCollection } from 'astro:content';
const entry = await getEntry('resume', 'projects');
const { Content, headings } = await entry.render();

const projects = json.filter((entry) => entry.section == "projects" && entry.in_resume);
---

<Layout title="Selected Projects">
	<Nav />
	<main>
	<Content />
	</main>
</Layout>

<style>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
