---
import DjangoIcon from '~icons/logos/django-icon';

const icons = [{
	name: "django",
	icon: DjangoIcon,
	link: "blah",
}];


interface Props {
	tech: string;
}
const { tech } = Astro.props;

---
<script>
document.getElementById("icon").insertAdjacentHTML("afterend", {DjangoIcon})
</script>
<div id="icon">
{tech}
</div>
