---

import { Icon } from 'astro-icon/components'

const iconLinks = { 
	postgresql: "https://www.postgresql.org/",
	polars: "https://pola.rs/",
	r: "https://www.r-project.org/about.html",
	jupyter: "https://jupyter.org/",
	vuedotjs: "https://vuejs.org/",
	django: "https://www.djangoproject.com/",
	plotly: "https://plotly.com/python/",
	tidyverse: "https://www.tidyverse.org/",
	awslambda: "https://docs.aws.amazon.com/lambda/?icmpid=docs_homepage_featuredsvcs",
	amazonaws: "https://aws.amazon.com/serverless/sam/",
	python: "https://www.python.org/",
	nixos: "https://nixos.org",
};

interface Props {
	title: string;
	type: string;
	institution: string;
	body: string;
	href: string;
	stack: Array<String>;
}

const { href, title, type, institution, body, stack } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
		</h2>
		<div class="card-subtitle"><small>{type}</small><small>{institution}</small></div>
		<p>
			{body}
		</p>
		<div class="card-footer">{ stack.map((tech) =>
			<a href={iconLinks[tech]}>  <Icon name=`simple-icons:${tech}` /> </a>
				)}
		</div>
	</a>
	</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 1px;
		background-color: #3f3f3f;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		opacity: 0.8;
	}
	.card-footer {
		display: flex;
		margin: 0 0.5rem 1rem;
		gap: 1rem;
	}
	.card-footer a {
		color: #5f7f5f;
	}
	
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	small {
		color: var(--pico-contrast);
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #dfaf8f;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-color: #dfaf8f;
	}
	.link-card:is(:hover, :focus-within) h2,
	.link-card:is(:hover, :focus-within) p,
	.link-card:is(:hover, :focus-within) small,
	.link-card:is(:hover, :focus-within) a {
		color: #3f3f3f;

	}
	.card-footer a:is(:hover) {
		color: #5f7f5f;
	}
	.card-subtitle {
		display: flex;
		justify-content: space-between;
	}
</style>
