---
//import GithubLogo from '~icons/ph/github-logo';
//import LinkedinLogo from '~icons/ph/linkedin-logo';
import { Icon } from 'astro-icon/components';
---

<nav>
  <ul>
    <li><strong>Zachary Meyer</strong></li>
  </ul>
  <ul>
    <li><a href="/portfolio">Resume</a></li>
    <li><a href="/portfolio/projects">Projects</a></li>
    <li><a href="https://github.com/zsmeyer" aria-label="Link to my Github"><Icon name='ph:github-logo' /></a></li>
    <li><a href="https://www.linkedin.com/in/z-s-meyer" aria-label="Link to my LinkedIn"><Icon name='ph:linkedin-logo' /></a></li>
  </ul>
</nav>
